section.info {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
}

.infoHead {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infoHead > button {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: #1e1e1e;
  outline: none;
  background-image: url('../../public/svgs/pencil.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contact {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 1rem;
}

.emailCard, .phoneCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.emailIcon {
  width: 1.3rem;
  height: 1.3rem;
  background-image: url('../../public/svgs/at2.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.phoneIcon {
  width: 1.3rem;
  height: 1.3rem;
  background-image: url('../../public/svgs/phone-flip2.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


@media (prefers-color-scheme: light) {

  section.info {
    background-color: #f8f8f8;
  }

  .infoHead > button {
    background-color: #f8f8f8;
    background-image: url('../../public/svgs/pencil2.svg');
  }

  .emailIcon {
    background-image: url('../../public/svgs/at.svg');
  }

  .phoneIcon {
    background-image: url('../../public/svgs/phone-flip.svg');
  }
}
