
.aboutDialHead {
  font-size: 1.3rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-bottom: 1px solid #242424;
}

.aboutDialHead button {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: #ffffff;
  outline: none;
  background-image: url('../../public/svgs/cross.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.aboutItems {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid #242424;

}

.aboutItem {
  display: flex;
  flex-direction: column;
  border: 1px solid #242424;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.aboutItem label {
  font-size: 1.3rem;
}

.aboutItem textarea {
  background-color: #ffffff;
  border: none;
  color: #000000;
  font-size: 1.5rem;
  outline: none;
  min-height: 10rem;
}

@media (prefers-color-scheme: light) {

  .aboutDialHead {
    border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  }

  .aboutDialHead button {
    background-color: #242424;
    background-image: url('../../public/svgs/cross2.svg');
  }

  .aboutItems {
    border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  }

  .aboutItem {
    border: 1px solid rgba(255, 255, 255, 0.87);
  }


  .aboutItem textarea {
    background-color: #242424;
    border: none;
    color: rgba(255, 255, 255, 0.97);

  }

}
