
.experienceDialHead {
  font-size: 1.3rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-bottom: 1px solid #242424;
}

.experienceDialHead button {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: #ffffff;
  outline: none;
  background-image: url('../../public/svgs/cross.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.experienceItems {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid #242424;

}

.experienceItem {
  text-align: start;
  display: flex;
  flex-direction: column;
  border: 1px solid #242424;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.experienceItem.date {
  border: 1px solid #ffffff;
}

.experienceItem.date p {
  font-size: 1.5rem;
}


.experienceItem label {
  font-size: 1.3rem;
}


.experienceItem input {
  background-color: #ffffff;
  border: none;
  color: #000000;
  font-size: 1.5rem;
  outline: none;
}

.experienceForm .save {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experienceForm .save .error {
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem;
}

.save button {
  font-weight: bold;
  font-size: 1.8rem;
  color: #242424;
  background-color: #ffffff;
  border: none;
}

select {
  background-color: #ffffff;
  color: #000000;
  border: none;
  font-size: 1.5rem;
}

.start, .end {
  display: flex;
  gap: 1rem;
}

.startMonth, .startYear, .endMonth, .endYear {

  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #242424;
  padding: 1rem;
  border-radius: 1rem;
}

textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  outline: #ffffff;
  color: #000000;
  border: none;
}

@media (prefers-color-scheme: light) {

  .experienceDialHead {
    border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  }

  .experienceDialHead button {
    background-color: #242424;
    background-image: url('../../public/svgs/cross2.svg');
  }

  .experienceItems {
    border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  }

  .experienceItem {
    border: 1px solid rgba(255, 255, 255, 0.87);
  }


  .experienceItem input {
    background-color: #242424;
    border: none;
    color: rgba(255, 255, 255, 0.97);

  }

  .save button {
    background-color: #242424;
    color: #ffffff; 
  }

  select {
    background-color: #242424;
    color: #ffffff;
  }

  .experienceItem.date {
    border: 1px solid #242424;
  }

  .startMonth, .startYear, .endMonth, .endYear {
    border: 1px solid #ffffff;
  }
  
  textarea {
    background-color: #242424;
    color: #ffffff;
    outline: #000000;
  }
}