section.info {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

.infoHead {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infoHead > button {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: #242424;
  outline: none;
  background-image: url('../../public/svgs/pencil.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (prefers-color-scheme: light) {
  .infoHead > button {
    background-color: #f8f8f8;
    background-image: url('../../public/svgs/pencil2.svg');
  }

}
