section.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: fixed;
}

.profileImg {
  color-scheme: light dark;
  background-color: #ffffff;
  height: 13rem;
  width: 13rem;
  border-radius: 100%;
  margin-top: 3rem;
}

@media (prefers-color-scheme: light) {
  .profileImg {
    background-color: #242424;
  }
}
